@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #f09942;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221910;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 antialiased;
  }
}
